body {
  background-image: url("strange_bullseyes_@2X.png");
}

.product-index-single{
  height:550px
}
.well img{
  width: 100%;
}





.img_product {
  max-height: 200px;
  border-color: rgba(46, 101, 157, 0.47);
  border-width: 20px;
  padding: 30px;
}

