<h1>Welcome to my product page!</h1>
<h2>Below is a list of everything currently in stock</h2>

<% @organs.each do |organ| %>
  <a href="/organs/<%= organ.id %>"><h3><%= organ.name %></h3></a>
<% end %>