<%= form_tag '/organs', method: :post do %>
  <h4>Name:</h4><input type='text' name='name'>
  <h4>Price:</h4><input type='text' name='price'>
  <h4>Image link:</h4><input type='text' name='image'>
  <h4>Description:</h4><input type='text' name='description'>  
  <div><input type='submit' value='Add item'></div>
<% end %>