<h1>Welcome to my product page!</h1>
<h2>Below is a list of everything currently in stock</h2>

<% @organs.each do |organ| %>
  <h3><%= organ.name %></h3>
  <h4><%= organ.price %></h4>
  <img class=img_product src="<%= organ.image %>">
  <h4><%= organ.description %></h4>
  <br>
<% end %>